body {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    box-sizing: border-box;
    min-width: 480px;
}

header {
    background: linear-gradient(to bottom, chocolate 80%, #71eef7);
    background-repeat: no-repeat;
    background-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.myName {
    font-weight: 800;
    font-size: 150%;
}

header img {
    width: 500px;
    padding-left: 150px;
}

header p {
    padding-left: 100px;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
}

section {
    background: linear-gradient(to top, #29d3df 50%, #71eef7);
    padding: 150px;
}

section img {
    width: 300px;
    float: right;
    line-height: 150%;
}

section em {
    text-decoration: underline;
}

main {
    background: linear-gradient(to top, #eeba98 80%, #29d3df);
    padding: 150px 50px 100px 50px;
}

.contact {
    margin-top: 10px;
    margin-bottom: 10px;
}

main h3 {
    font-weight: 600;
    padding-bottom: 5px;
}

main a {
    color: rgb(255, 71, 71);
    transition: all 0.5s ease-in-out;
}

main a:hover {
    color: sienna;
    font-size: 120%;
}

.mylist li {
    list-style-type: circle;
    margin-left: 30px;
    padding-bottom: 10px;
}

.driver {
    margin-top: 50px;
    margin-bottom: 50px;
}

.labObl {
    margin-bottom: 20px;
}

.labJbl h3 {
    padding-top: 10px;
    padding-bottom: 2%;
}

.skill {
    padding-bottom: 10px;
}

.perQualities {
    padding-top: 20px;
    padding-bottom: 20px;
}

.secdiv {
    padding-top: 20px;
    padding-bottom: 20px;
}

.secdiv h2 {
    font-weight: 700;
}

.ps {
    font-style: 120%;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: tomato;
text-decoration-thickness: 4px;
}

footer {
    background: linear-gradient(to top, chocolate 80%, #eeba98);
}

.footd {
    padding: 50px 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
